<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.dnsbox.in" userName="info@dnsbox.in" password="ideasplus@123$" />
        <!--<network host="mail.layernext.com" userName="demo@layernext.com" password="demo123"/>-->
        <!--<network host="mail.layernext.co.in" userName="ideas@ideasplus.in" password="demo123"/>-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
